/* *{
	background-color:black;} */
.button-group{
	/* margin:0 !important; */
}
.btn{
	padding-left:6px;
	margin:2px;
}
	#keyboard-container{
		position:fixed;
		top:50%;
background-color:green;
margin-left:3px;
margin-right:3px;
padding-top:3px;
padding-bottom:3px;
	display:inline-block;
	align-content: center;
	text-align: center;
	}

	.btn-toolbar{
		margin-top:23px;
		margin-left:auto;
		margin-right:auto;
	text-align: center;
display:inline-flex;
		align-content: center;
	}

.space{
	/* border:2px solid green; */
	width: 100%;
	padding-left:40px;
	padding-right:40px;
}