/* *{
	background-color:black;} */

	#keyboard-container{
		position:fixed;
		top:50%;
background-color:green;
margin-left:3px;
margin-right:3px;
padding-top:3px;
padding-bottom:3px;
	display:grid;
	}
	.btn-toolbar{
		margin-top:23px;
		margin-left:auto;
		margin-right:auto;
	}

.space{
	/* border:2px solid green; */
	width: 100%;
	padding-left:40px;
	padding-right:40px;
}