/* *{
	background-color:black;} */
.button-group{
	margin:0 !important;
}

#output{
	margin:5px;
}
.btn{
	/* margin:0 !important; */
	display: block;
	width: 100%;
	/* margin:2px; */
	border-radius:10px;
}

.btn-right{
	/* border:3px solid orange; */
	/* padding-right:8px !important;  */
}
.btn-left{
	background-color:rgb(54, 60, 66);
	/* border:3px solid orange; */
	/* padding-left:8px !important;  */
}
	#keyboard-container{
		position:fixed;
		bottom:5%;
background-color:rgba(144, 144, 144, 0.52);
margin-left:3px;
margin-right:3px;
padding-top:3px;
padding-bottom:3px;
	display:inline-block;
	align-content: center;
	text-align: center;
	}

	.btn-toolbar{
		width:100%;
justify-content: center;
		margin-top:13px;
		margin-left:0;
		margin-right:0;
		/* margin-left:auto; */
		/* margin-right:auto; */
display:inline-flex;
		align-content: center;
		
	}
	.btn-group{
	border: 1px solid rgba(255, 255, 0, 0);
width:20%;
margin:0 !important;
/* display:block; */

	}

.space{
	/* border:2px solid green; */
	width: 50% !important;
	margin-left:25%;
	bottom:5%;
}
#backspace{
	
	left:10px;
	width:50px;
}
#return{
	left:90%;
	/* width:200px; */
	margin-left:50px;
}